[Package]
version: 2
depends: 

[Product]
type: localboot
id: ica-firefox
name: ica-firefox
description: Firefox browser
advice: 
version: 68.4.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-firefox (58.0.2-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  2/15/2018 22:46:34

